/* login-view.css */
.root {
    -fx-background-color: #f4f4f4;
    -fx-padding: 20px;
}

.button-box {
    -fx-background-color: #ffffff;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 5);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
    -fx-alignment: center;
}

.button-box:hover {
    -fx-background-color: #eaeaea;
}

.button-icon {
    -fx-font-size: 24px;
    -fx-padding-right: 10px; /* 调整图标和文本之间的间距 */
}

.button-label {
    -fx-font-size: 18px;
}

.large-button {
    -fx-font-size: 24px;
}

