.root {
    -fx-font-family: "Arial";
}

.action-box {
    -fx-padding: 20;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0, 0);
    -fx-transition: background-color 0.3s ease;
}

.action-box:hover {
    -fx-background-color: #e0e0e0;
}

.action-box-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding-top: 10;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.black-text-button {
    -fx-text-fill: black; /* 设置文本颜色为黑色 */
}

.logout-button {
    -fx-background-color: transparent;
    -fx-border: none;
    -fx-cursor: hand;
    -fx-padding: 10;
}
